.bookcase{
	width: 40%;
	height: 25%;
	border-radius: 5%;

}

.fondoPrincipal{
	height: 30em;
	width: 100%;
}

.libro{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 15em;
	width: 10em;
	margin: 1.2em 1.2em 0.8em 1.2em;
	padding: 5px;
	border-bottom: 2px solid white;
	margin-left: auto;
    margin-right: auto;

}

.enlaces{
	background-color: #333;
	font-weight: bolder;
	padding: 0.1em 0.3em;
	color: white;
	font-size: 0.8em;

}


a:hover, .caja img:hover{
	transform: scale(1.1);
	color: white;
}

.caja{
	margin-right: auto;
	margin-left: auto;
}



.verMas{
	display: none;
}

.redes:hover{
	border: 2px solid white;
	transform: scale(1.2);
	border-radius: 50%;
}

hr{
	background-color: white;
}

.imn{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



@media screen and (max-width: 600px) {

	.caja{		
		width: 25em;
	}

  	.libro {
    width: 10em;
    height: 12em;
	}

 	.par2, .par3{
  	display: none;
  	}

  	.verMas{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	}

  	.mensajeInicial{
  		font-size: 3.5em;
  	}

  	.fondoPrincipal{
  		height: 15em;
  	}

}





