h1{
	text-align: center;
	font-size: 40pt;
	background-image: url(http://es.fifa.com//assets/img/tournaments/17/2018/common/fwc_darkbluebg.png);
	color: white;
	font-family: "Lucida Console";
}
#menu_nav li{
	display: inline;
	list-style: none;
	padding-right: 2em;
	opacity: 0.69;
	cursor: pointer;
}