h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
}

ul li{
    display: inline;
    padding: 15px;
    
  }

.mision{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 350px;
}

.vision{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 350px;
}

.principal{
    
    margin-left: 40%;   
    height: 200px;
    width: 350px;

}

.personal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 350px;
}

.redesSociales{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 350px;
    
}

.articulo1{
    display: inline;

}

footer{
    padding: 100px;
    text-align: right;
}


